.free-stuff-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/backgroundImage.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Homepage-bg {
  background-color: rgba(245, 245, 245, 0.767);
  border-radius: 10rem;
}

.input-sign-up {
  resize: horizontal;
  width: 25rem;
}

.input-sign-up:focus {
  min-width: 23rem;
}
